
* {
    box-sizing: border-box;
    font-family: 'PT Sans';
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #242333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.movie-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.movie-container label {
    font-size: 1.5em;
    margin: 0.75rem;
}

.movie-container select {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px;
    font-size: 0.875em;
    margin: 0.75rem;

}
.container {
    perspective: 1000px;
}
.row {
    display: flex;
}

.row .seat:nth-of-type(2) {
    margin-right: 20px;
}

.row .seat:nth-of-type(6) {
    margin-right: 20px;
}

.row .seat {
    transition: all 0.2s;
    border: 1px solid black;
}
.row .seat:not(.occupied):hover {
    cursor: pointer;
}
.seat {
    background-color: #444451;
    width: 20px;
    height: 17px;
    margin: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}

.showcase {
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 1rem;
}

.showcase li {
    display: inherit;
    margin: 10px;
    align-items: center;
    font-size: 1.2em;
}

.screen {
    background-color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.6);
}


.text {
    padding: 10px;
    margin-top: 25px;
    font-size: 1.1rem;
    text-align: center;
}
.text span {
    color: #32e0c4;
}


.btn {
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 0.875rem;
    transition: all 0.3s;
    margin: 10px;
}

.confirm-btn:hover {
    background-color: slateblue;
    color: white;
}

.erase-btn:hover {
    background-color: tomato;
    color: white;
}

@media screen and (min-width: 768px) {
    .movie-container, .showcase, .text{
        font-size: 1.3rem;
    }

    .seat {
        width: 30px;
        height: 27px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin: 6px;
    }
    .screen {
        height: 120px;
    }
    .btn {
        font-size: 1.1rem;
    }
}